<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						http://www.springframework.org/schema/util
						http://www.springframework.org/schema/util/spring-util-4.3.xsd">	
	
	<bean id="piano" class="wiring.anno.Piano" autowire-candidate="false"/>
	<bean id="guitar" class="wiring.anno.Guitar" autowire-candidate="false"/>
	<bean id="drum" class="wiring.anno.Drum"/>
	<bean id="hong" class="wiring.anno.Instrumentalist" autowire="byType">
		<property name="song" value="돌덩이"/>
	</bean>
	
	<bean id="stone" class="wiring.anno.Stone"/>
	<bean id="close" class="wiring.anno.Close" autowire-candidate="false"/>
	<bean id="singer" class="wiring.anno.Singer" autowire="byType">
		<property name="name" value="하현우"/>
	</bean>
</beans>
