<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">	
	
	<!--SPEL  str은 getStr의 get을 뺀 나머지로 맞춰야 함  -->
	<bean id="props" class="wiring.spel.Props">
		<property name="str" value="홍길동"/> 
	</bean>
	
</beans>








